<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.heydjow.netblock">

    <!-- Permissões básicas -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- VPN -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- Overlay -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- Obrigatório no Android 12+ para foreground service -->
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:label="NetBlock"
        android:allowBackup="false"
        android:supportsRtl="true">

        <!-- Activity principal -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Tela de seleção de apps -->
        <activity
            android:name=".ui.AppPickerActivity"
            android:exported="false" />

        <!-- Serviço VPN -->
        <service
            android:name=".vpn.NetBlockVpnService"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:foregroundServiceType="specialUse"
            android:exported="true">
            <intent-filter>
                <action android:name="br.com.heydjow.netblock.START" />
                <action android:name="br.com.heydjow.netblock.STOP" />
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>

        <!-- Serviço do botão flutuante (OVERLAY) -->
        <service
            android:name=".ui.FloatingToggleService"
            android:exported="false"
            android:foregroundServiceType="specialUse" />

    </application>

</manifest>
